$One: #063970;
$Two: #e28743;
$Three: #eab676;
$Four: #873e23;
$Five: #abdbe3;
$Six: #063970;

$theme-colors: (
  "0%": $One,
  "20%": $Two,
  "40%": $Three,
  "60%": $Four,
  "80%": $Five,
  "100%": $Six,
);
